body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f8f8f8;
}

header {
    background-color: #843030;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #b78c8c;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 20px;
}

.columns {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.column {
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
    background-color: #dcd6d6;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #843030;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}